@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing : border-box;
}

body {
    font-family: Poppins;
    position: relative;

}

section {
    position: relative;
    width: 100%;
    height: 100vh;
}

section .layer1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    background: url(font.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: layer-left 1s ease-in-out forwards;
    animation-delay: 1s;
    background-position: center;
}@keyframes layer-left{
    0% {
       left: 0; 
    }
    100% {
        left: -50%; 
     }
}

section .layer2 {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    background: url(font.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: layer-right 1s ease-in-out forwards;
    animation-delay: 1s;
    background-position: center;
}@keyframes layer-right{
    0% {
       left: 0; 
    }
    100% {
        left: 50%; 
     }
}

section nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0070d2;
    transition: 1s;
    display: flex;
    z-index:7;
    justify-content: flex-end;
}

section nav.active {
    height: 80px;
}

section nav .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    width: 200px;
    height: 200px;
}

section nav.active .logo {
    left: 40px;
    width: 100px;
    height: 100px;
}

section nav .logo img {
    width: 100%;
    height: 100%;
    transition: 1s;
    cursor: pointer;
}

section nav .logo p {
    text-align: center;
    font-size: 2em;
    transition: 1s;
    font-weight: 600;
}

section nav.active .logo p {
    display: none;
}

section nav .burgerBtn {
    position: absolute;
    top: 15px;
    right: 40px;
    width: 50px;
    height: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 10px;
    flex-direction: column;
    cursor: pointer;
    z-index: 9;
}

section nav .burgerBtn span {
    width: 30px;
    height: 3px;
    transition: 0.5s;
    background-color: white;
    display: block;
}

section nav .burgerBtn.active span:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

section nav .burgerBtn.active span:nth-child(2) {
    transform: translateY(15px);
}

section nav .burgerBtn.active span:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}

section nav .navbar {
    position: fixed;
    top: 0;
    right: -40%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 40%;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(0,0,0, 0.9);
    z-index:8;
    transition: 0.5s;
    backdrop-filter: blur(12px);
}

section nav .navbar.active {
    right: 0;
}

section nav .navbar li {
    list-style: none;
}

section nav .navbar li a {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    transition: 0.5s;
    font-weight: 600;
}

section nav .navbar li a:hover {
    color: crimson;
}

section .header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

section .header h1 {
    text-align:center;
    font-size:2em;
    position: relative;
    opacity: 0;
    animation: animh1 1s ease-in-out forwards;
    animation-delay: 3s;
    transform: translateY(-50px);
}@keyframes animh1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

section .header .content {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

section .header .content .main1 img{
    width: auto;
    object-fit:cover;
    animation: animh1 1s ease-in-out forwards;
    animation-delay: 3.2s;
    opacity: 0;
    transform: translateY(40px);
}

section .header .content .main1 h2 {
    text-align: center;
    animation: animh1 1s ease-in-out forwards;
    animation-delay: 3.3s;
    opacity: 0;
    transform: translateX(-50px);
}

section .header .content .main2 h3 {
    margin-bottom: 10px;
    position: relative;
    animation: animslide 1s ease-in-out forwards;
    transform-origin: left;
    animation-delay: 3.5s;
    transform: scaleX(0);
}
@keyframes animslide {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
section .header .content .main2 h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: animslidereverse 2s ease-in-out forwards;
    transform-origin: right;
    animation-delay: 4s;
}@keyframes animslidereverse {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

section .header .content .main2 p {
    margin-bottom: 10px;
    position: relative;
    animation: animslide 1s ease-in-out forwards;
    transform-origin: right;
    animation-delay: 4.2s;
    transform: scaleX(0);
}
@keyframes animslide {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
section .header .content .main2 p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: animslidereverse 2s ease-in-out forwards;
    transform-origin: left;
    animation-delay: 4.9s;
}@keyframes animslidereverse {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

footer {
    position: fixed;
    text-align: center;
    background: #0070d2;
    color: white;
    width: 100%;
    bottom: 0;
    left: 0;
}

@media (max-width: 1000px) {
    section nav .navbar {
        width: 45%;
        right: -45%;
    }

    section .header .content .main1 img{
        width: 160px;
        text-align: center;
    }

    section .header h1 {
        font-size: 1.7em;
    }

    section .header .content {
        text-align: center;
        flex-wrap: wrap;
    }

    section .header .content .main1 h2 {
        font-size: 1.5em;
    }

    section .header .content .main2 h3 {
        margin-bottom: 5px;
        font-size: 1.3em;
    }

    section .header .content .main2 p {
        font-size: 16px;
    }
}

@media (max-width: 670px) {
    section nav .navbar {
        width: 100%;
        right: -100%;
        transition: 0.7s;
    }

    section .header h1 {
        font-size: 1.5em;
    }

    section .header .content {
        text-align: center;
        flex-wrap: wrap;
    }

    section .header .content .main1 h2 {
        font-size: 1.3em;
    }

    section .header .content .main1 img{
        width: 150px;
        text-align: center;
    }

    section .header .content .main2 h3 {
        margin-bottom: 5px;
        font-size: 1.1em;
    }

    section .header .content .main2 p {
        font-size: 13px;
    }
}
